.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
}

.logo {
  width: 100px;
}

.navItems > ul {
  display: flex;
  font-size: 25px;
  list-style-type: none;
}
.navItems > ul > li {
  margin: 10px;
}
.resContainer {
  display: flex;
  flex-wrap: wrap;
}
.restroCard {
  width: 200px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 20px;
}
.restroCard:hover {
  cursor: pointer;
  border: 1px solid black;
}

.searchBar {
  padding: 10px;
}
.meghnaCard {
  width: 100%;
}

.filterBtn {
  cursor: pointer;
  margin: 10px;
}

.shimmerContainer {
  display: flex;
  flex-wrap: wrap;
}
.shimmerCards {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 20px;
}
.login {
  margin: 10px;
  padding: 5px 20px;
  cursor: pointer;
}
.filterBtn {
  display: flex;
}
.serchBtn {
  margin: 10px;
}

.searchBox {
  padding: 10px;
  width: 300px;
}
